@model IEnumerable<Google.Apis.Drive.v2.Data.File>

@{
    ViewBag.Title = "Drive";
}

<table>
    <tr>
        <th>Id</th>
        <th>ParentId</th>
        <th>
            Title
        </th>
        <th>
            Created Date
        </th>
        <th>
        </th>
    </tr>
    @foreach (var file in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => file.Id)</td>
            @if(file.Parents.Count != 0)
            {
                <td>@Html.DisplayFor(modelItem => file.Parents[0].Id)</td>
            }
            <td>
                @Html.DisplayFor(modelItem => file.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => file.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadAsync", new
                     {
                         title = file.Title,
                         downloadUrl = file.DownloadUrl
                     })
            </td>
            <td>@Html.DisplayFor(modelLink => file.WebContentLink)</td>
        </tr>
    }
</table>



