@model StorageHub.Models.StorageService

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StorageService</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.Hidden("ServiceType", 1)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Google Drive Account" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StorageService 2.0000000000</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceType)
                @Html.ValidationMessageFor(model => model.ServiceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessToken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccessToken)
                @Html.ValidationMessageFor(model => model.AccessToken)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefreshToken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefreshToken)
                @Html.ValidationMessageFor(model => model.RefreshToken)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Dropbox Account" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
