@model Dictionary<int,bool>

@{
    ViewBag.Title = "Manage";
}

<div class="col-md-offset-2">
    <h2>Manage</h2>
    @Html.ValidationSummary(true)
    
    @Html.AntiForgeryToken()
    <h3>Google Drive</h3>    
    
    @if (Model[1] == false)
    {
        <h4><img src="~/Images/googledrive-icon.png" height="40" />You do not have a Google Drive account associated to this account.</h4>
        @Html.ActionLink("Add Google Drive Account", "DriveCreate", null, new { @class = "btn btn-info" });
    }
    else
    {
        <h4><img src="~/Images/googledrive-icon.png" height="40" />You have already added a Google Drive account. Click the button below to remove it.</h4>
        @Html.ActionLink("Remove Google Drive Account", "Delete", new { serviceType = 1 }, new { @class = "btn btn-primary" });
    }


    <h3>Dropbox</h3>
    @if (Model[2] == false)
    {
        <h4><img src="~/Images/dropbox-icon.png" height="40" />You do not have a Dropbox account associated to this account.</h4>
        @Html.ActionLink("Add Dropbox Account", "DropboxCreate", null, new { @class = "btn btn-info" });
    }
    else
    {
        <h4><img src="~/Images/dropbox-icon.png" height="40" />You have already added a Google Drive account. Click the button below to remove it.</h4>
        @Html.ActionLink("Remove Dropbox Account", "Delete", new { serviceType = 2 }, new { @class = "btn btn-primary" });
    }
</div>